.DS_Store
bin/
obj/
deploy/
unversioned/
*.user
*.cache
*.suo
*.userprefs
*ReSharper*
test-results/
*.ncrunchsolution
*.ncrunchsolution.user
*.DotSettings.user
*.fbl7
*.fbpInf
*.fb7lck
*.CacheTestResults